.header-grid-box {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 450px;
}

.box-header-asset {
  height: 10px;
  background-color: #0D84D1;
}

.blog-content-ft-img {
    text-align: left;
    margin-left: 15px;
    margin-top: 15px;
}

.box-content {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.box-content-image {
    min-height: 60px;
    width: 82px;
}

.box-content-inner {
    /* min-width: 316px; */
    padding: 0 15px 15px 15px;
    text-align: left;
    aspect-ratio: 6 / 3;
}

.box-content-inner h3 {
    font-size: 24px;
}

.box-content-inner span {
    font-size: 20px;
}

.box-cropped-footer {
    width: 100%;
    position: relative;
    margin-top: -5px;
}

.date-post {
  width: max-content;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
}

@media screen and (max-width: 768px) {

.box-content-inner h3 {
    font-size: 14px;
}

.box-content-inner span {
    font-size: 11px;
}

.box-header-asset {
    height: 5px;
}
    
}