.my-order-page-content {
  display: flex;
  justify-content: space-between;
  padding: 50px 35px 0 35px;
  align-items: baseline;
  margin-top: 30px;
}

.my-order-hr-1 {
    margin-left: 35px;
    margin-right: 35px;
}

.my-order-hr-1 hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.inputbox-container img {
  position: absolute;
  margin-left: 20px;
  height: 50%;
}

.my-order-hr-1 .inputbox-container {
    margin-top: 35px;
    margin-bottom: 35px;
}

.my-account-content-title {
  font-size: 40px;
}

.my-order-no-order {
  color: #2D2D2D82;
  font-size: 40px;
  margin-bottom: 100px;
  display: block;
  position: relative;
}

@media screen and (max-width: 768px) {

  .my-orders-page-wrapper {
    gap: 0;
  }

  .my-orders-page-wrapper .handwritten-page-header-title1 {
    font-size: 40px;
  }

  .my-orders-page-wrapper .handwritten-page-header-title3 {
    font-size: 12px;
    margin-top: 0;
  }

  .my-orders-page-wrapper .letters-iteration-page-header-title-container {
    height: 190px;
  }

  .my-account-content-title {
    font-size: 18px;
  }

  .my-order-page-content {
    flex-wrap: wrap;
  }

  .my-order-page-content .breadcrumb-nav {
    width: 85%;
  }

  .my-order-hr-1 {
    padding-top: 15px;
  }

  .my-order-hr-1 .inputbox-container {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .my-order-no-order {
    font-size: 16px;
  }
}