.handwritten-page-radio1 .button-style {
    color: #0D84D1;
    background-color: #fff;
    border: none;
    font-weight: normal;
    font-size: 28px;
    padding: 0;
}

.handwritten-page-iteration-2 > label > span.button-style {
    background-color: #FFF7E6;
    border: none;
    font-weight: bold;

}