.register-hero-background-v2 {
  background-color: rgb(255, 247, 230);
  height: 720px;
  position: absolute;
  top: clamp(-130px, 5vh, -200px);
  width: 110%;
  z-index: 0;
  border-radius: 0 0 1200px 1200px;
  left: 50%;
  transform: translateX(-50%);
}

.hero-header-title-blue {
    font-size: clamp(1.75rem, 4vw, 4rem);
    font-family: Helvetica;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #0D84D1;
    z-index: 1;
    position: relative;
}

.hero-header-title-black {
    font-size: clamp(1.75rem, 4vw, 4rem);
    font-family: Helvetica;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #2D2D2D;
    z-index: 1;
    position: relative;
}

.hero-header-desc-black {
  font-size: clamp(24px, 2vw, 35px);
  font-weight: 500;
  line-height: 1.2;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.contact-us-header-title-container{
    position: relative;
    padding-top: clamp(10px, 10vh, 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: clamp(371px, 5vh, 500px);
}

.contact-us .concact-us-help-message {
    background-color: #fff;
    position: relative;
    width: 100%;
    padding: 50px 30px 0 30px;
    display: flex;
    flex-flow: column;
}

span.help-message {
    font-size: clamp(24px, 2vw, 30px);
    line-height: 40px;
    color: #2D2D2DBD;
    font-family: Helvetica;
    margin-top: 25px;
}

.contact-us-message-wrapper {
    text-align: left;
    color: #2D2D2DA3;
    margin-top: -15px;
    font-size: 1rem;
    position: relative;
}

.contact-us-send-message-button {
  width: max-content;
  position: absolute;
  bottom: 60px;
  right: 30px;
}

.contact-us-footer {
  display: flex;
  justify-content: center;
}

.footer-contact-social {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px;
  font-family: sans-serif;
  width: max-content;
  margin: 15px 0 30px 0;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-row {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.contact-row .icon {
  background-color: #0D84D1;
  border-radius: 6px;
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.contact-row .icon img {
  /* width: 16px;
  height: 16px; */
}

.contact-row .text {
  color: #2D2D2D;
  font-size: 28px;
  text-align: left;
}

.contact-divider {
  width: 2px;
  background-color: #2D2D2D;
  height: 100%;
  margin-top: 5px;
}

.contact-social-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.contact-social-icons a {
  background-color: #0D84D1;
  border-radius: 6px;
  width: 69px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-social-icons a img {
  /* width: 16px;
  height: 16px; */
}

.maps-image {
  height: auto;
  display: block;
}

.maps-footer {
  
  margin-bottom: -125px;
}

@media screen and (max-width: 768px) {

  .contact-us.global-page-wrapper {
    gap: 0;
  }

  .register-hero-background-v2 {
    height: 450px;
  }

/*   .contact-us .hero-header-title-blue, .contact-us .hero-header-desc-black {
    line-height: 20px;
    font-size: 16px;
    margin-top: 0;
  } */
  .contact-us .hero-header-desc-black {
      font-size: 12px;
  }
  
  .contact-us-header-title-container {
    height: 160px;
    padding-top: 0;
  }

  .contact-us .register-right-image {
    top: 25px;
    width: 90px;
  }

  .contact-us .register-left-image {
    top: 20px;
    left: 0;
  }

  .contact-us span.help-message {
    font-size: 16px;
    line-height: 20px;
  }

  .contact-us .handwritten-page-forms {
    margin-top: 0;
    padding: 30px 15px 0 15px;
  }

  .contact-us .handwritten-page-divide2 {
    gap: 0;
    flex-wrap: wrap;
  }

  .contact-us .handwritten-page-divide2 > * {
    flex: -moz-available;
  }

  .contact-us-send-message-button {
    bottom: 55px;
    right: 5px;
  }

  .contact-us .concact-us-help-message {
    background-color: #FAF7F3;
    margin-top: 60px;
    padding: 50px 0 0 0;
  }

  .contact-us .concact-us-help-message.reach-out-div {
    background-color: transparent;
    margin-top: 30px;
  }

  .contact-row .text {
    font-size: 14px;
  }

  .footer-contact-social {
    width: 100%;
    justify-content: center;
  }

  .contact-divider, .contact-social-icons { 
    display: none;
  }

  .contact-row .icon {
    width: 30px;
    height: 30px;
  }

  .maps-footer {
    margin-bottom: -40px;
  }
}