.product-wrapper{
    gap: 15px;
}
.product-radio-box.active .product-radio-box-title.product-title{
        font-weight: bold;
}
.product-radio-box span.product-radio-box-title.product-title {
    font-size: 28px;
    font-weight: normal;
}

.product-radio-box-img.product-image{
    border-radius: 13px;
}
.product-radio-box.active .product-radio-box-img.product-image {
    outline: 6px solid #2d2d2d;
}

.handwritten-page-radio3.select-template-wrapper {
  justify-content: start;
  gap: 25px;
}

hr.template-selection {
    margin: 0;
}

.category-grid {
  justify-content: space-between;
  border-radius: 125px;
  padding: 5px;
  border: 0.5px solid rgba(80, 80, 80, 0.5);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
}

.handwritten-page-radio1.template-select{
  margin-top: 30px;
}

.handwritten-page-radio1 .button-style.tenplate-categories-label {
    font-weight: normal;
    padding: 0;
}

.radio-templates-title-wrapper.selected-templates-title-wrapper {
    border-radius: 125px;
    width: 430px;
    padding: 27px;
}

.radio-templates-image-box input[type="radio"]:checked ~ .radio-templates-title-wrapper.selected-templates-title-wrapper {
    border: 2px solid #0D84D1;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.radio-templates-image-box input[type="radio"]:checked ~ .radio-templates-title-wrapper.selected-templates-title-wrapper .radio-templates-title {
    font-weight: bold;
}

span.button-style.tenplate-categories-label {  
  border-radius: 130px;
  font-size: 24px;
  margin: 0;
  background-color: #2d2d2d0d;

}
.handwritten-page-radio1 .button-style.tenplate-categories-label{
 background-color: #ffffff;
 color: #0D84D1;
}

.button-radio input:checked + .button-style.tenplate-categories-label {
    background-color: #0D84D11A;
}

.selected-templates-title-wrapper span.radio-templates-checkmark{
    background: #2D2D2D40;
    color: #ffffff;
}
.category-grid .tenplate-categories-label{
    color: #2D2D2DBF;
    font-weight: normal;
}

/* Empty Cart Page CSS */

.handwritten-page-header-image.cart-header-image{
    margin-top: -250px;
}

.handwritten-page-header-title-container.cart-title-container{
    margin: 0;
}
.handwritten-page-header-title.cart-page-header-title{
    margin-top: 80px;
}
.handwritten-page-header-title3.cart-page-header-subtitle{
    width: 100%;
    margin-top: 0;
}


.homepage-header-button.return-to-shop-button{
    height: 80px;
    padding: 18px 40px 20px 40px;
    margin-bottom: 6em;
}

.homepage-header-button.return-to-shop-button a {
    font-size: 24px;
    font-weight: bold;
}

.cart-empty.woocommerce-info {
    background-color: transparent;
    color: #2D2D2D80;
    border-top: none;
    font-family: "Helvetica";
    font-size: 32px;
    margin: 0 0 1em;
}

.cart-empty.woocommerce-info::before{
    content: none;
}

.custom-account-heading {
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400; /* Regular */
  line-height: 60px;
  letter-spacing: 0;
  color: #3D2D02;
  opacity: 1;
  border-radius: 0;
  text-align: center; /* assuming center alignment from icon */
}

.custom-register-wrapper .template-selection{
    width: 95%;
}

.cart-empty-container-1-inner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    min-height: 550px;
}

.custom-template-subtitle{
    width: 72%;
}

.form-heading, .product-subtitle{
    font-size: 48px;
    color: #2d2d2d;
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
}

.product-subtitle{
    font-size: 28px;
    margin: 0;
}

.product-subtitle a{
    color: #0d84d1;
}

.handwritten-page-last.custom-tenplate-last .homepage-header-button{
    bottom: -49px;
}

.checkout-template-subtitle{
    width: 100%;
    margin-top: 0;
}

.handwritten-page-header-image.checkout-page-header-image{
    top: -300px;
}

.handwritten-page-header-title-container.checkout-page-header-title-container{
    margin-top: 0;
}
.handwritten-page-container-1-inner.checkout-inner-container{
    min-height: 600px;
}

.form-heading.checkout-form-heading{
    font-size: 32px;
}

.handwritten-page-last.place-order .homepage-header-button{
    bottom: -100px;
}

.handwritten-page-forms.checkout-form-container{
    padding: 50px;
}

.place-order .homepage-header-button{
    padding: 18px 40px 20px;
}

.handwritten-page-radio2.choose-product .product-radio-box-img {
    background-color: #FFF7E6;
}

.order-details-table{
    margin: 0;
    font-family:  Helvetica, Arial, sans-serif;
}

 .order-details-table td {
      padding: 6px 0;
      vertical-align: top;
    }

    .label {
      width: 80%;
      font-weight: 600;
    }

    .value {
      font-style: italic;
      font-weight: 600;
    }

    .totals {
      border-top: 1px solid #ddd;
      padding-top: 15px;
    }

    .totals-row {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
    }

    .totals-row .label {
      font-weight: 500;
    }

    .totals-row .value {
      font-weight: bold;
    }

    .handwritten-page-forms.checkout-form-container hr{
        margin-top: 1em;
        margin-bottom: 1em;
    }


    /* Woocommerce CSS */

    img.login-footer-logo-image.cart-footer-logo-image, .woocommerce img, .woocommerce-page img {

    height: inherit;
}

p.coupon-instructions {
    font-size: 1.25rem;
    margin-bottom: 5px;
    margin-top: 0;
}

.woocommerce form .form-row .input-text, .select2-container--default .select2-selection--single {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 25px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 20px;
    resize: vertical;
}
.select2-container--default .select2-selection--single{
    padding: 10px;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    width: 100%;
}

.woocommerce-checkout #main{
    min-height: 2550px;
}

 .woocommerce-checkout #payment {
    background-color: #FAF7F3;
    padding: 50px 50px 100px;
}

#payment .homepage-header-button {
    float: right;
}