.button-radio {
  cursor: pointer;
  margin: 5px;
}

.button-radio input {
  display: none;
}


.button-style {
  display: inline-block;
  padding: 15px 20px;
  background-color: #e6f2fa;
  border: none;  
  border-radius: 130px;
  color: #2D2D2D;
  font-family: Helvetica;
  font-size: 24px;
  width: 100%;
  /* min-width: 100px; */
  /* margin: 14px 0; */
}

.handwritten-page-iteration-2 .button-style{
   width: unset;
}

span.button-style {
    background-color: #2d2d2d0d;
    border: none;
}

.button-radio input:checked + .button-style {
  border: 2px solid #0D84D1;
  color: #0D84D1;
  font-weight: bold;
}
