.button-radio {
  cursor: pointer;
  margin: 5px;
}

.button-radio input {
  display: none;
}


.button-style {
  display: inline-block;
  padding: 15px 20px;
  background-color: #e6f2fa;
  border: none;  
  border-radius: 30px;
  color: #2D2D2D;
  font-family: Helvetica;
  font-size: clamp(1rem, 1.75vw, 3rem);
  width: 100%;
  min-width: 100px;
  margin: 14px 0;
}

.handwritten-page-radio1 .button-style{
    color: #0D84D1;
    font-weight: bold;
}

.handwritten-page-iteration-2 > label > span.button-style {
    background-color: #FFF7E6;
    border: none;
}

.button-radio input:checked + .button-style {
  border: 2px solid #0D84D1;
  color: #0D84D1;
}
