.testimonial-wrapper {
  /* display: flex;
  justify-content: center;
  margin: 40px 0 100px 0;
  gap: 20px; */
  display: flex;
  justify-content: center;
  /* margin: 40px 0 100px 0; */
  margin: 40px 0 45px 0;
  gap: 20px;
  width: 100%;
  overflow-x: hidden;
  height: 555px;
  box-sizing: border-box;
  min-width: calc(3 * 300px + 2 * 20px);
  overflow-y: visible;
}

.testimonial {
  position: relative;
  /* height: max-content; */
}

.testimonial p {
  font-family: Helvetica;
  line-height: 35px;
  color: #2D2D2D;
}

.mainbox {
  width: 540px;
  height: 344px;
  border: 1px solid #0D84D1;
  border-radius: 8px;
}

.mainbox p {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 10px;
}

.mainbox .testimonial-name {
  font-size: 28px;
}

.mainbox .testimonial-date {
  font-size: 1.5rem;
}

.minibox {
  /* width: 100%; */
  width: 540px;
  max-width: 450px;
  min-height: 288px;
}

.minibox p {
  font-size: 1.25rem;
  margin-top: 10px;
}

.minibox hr {
  margin-bottom: 10px;
}

.minibox .testimonial-name {
  font-size: 1.5rem;
}

.minibox .testimonial-date {
  font-size: 1.25rem;
}

.testimonial-box {
  padding: 16px;
  background-color: #fff;
  position: relative;
  text-align: left;
  box-sizing: border-box;
}

.testimonial-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 8px;
}

.testimonial-rating {
  color: #0D84D1;
  font-size: 1.875rem;
  letter-spacing: 2px;
}

.bottom-arrow {
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg);
}

.mainbox .bottom-arrow {
    width: 70px;
    height: 70px;
    left: 44%;  
    bottom: -35px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #0D84D1;
    border-right: 1px solid #0D84D1;
}

.minibox .bottom-arrow {
    width: 50px;
    height: 50px;
    left: 45%;  
    bottom: -26px;
    border-bottom-right-radius: 5px;
}

.testimonial-avatar {
  position: absolute;
  transform: translateX(-50%);
  border-radius: 50%;
  overflow: hidden;
}

.testimonial-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainboxwrapper .testimonial-avatar {
  /* bottom: -210px; */
  bottom: 0;
  left: 51%;
  width: 150px;
  height: 150px;
  border: 5px solid #0D84D1;
}

.miniboxwrapper .testimonial-avatar {
  /* bottom: -70px; */
  bottom: 110px;
  left: 51%;
  width: 84px;
  height: 84px;
  border: 4px solid #2D2D2D;
}

@media screen and (max-width: 768px) {

  .testimonial {
    height: max-content;
  }

  .testimonial-wrapper {
    min-width: 0;
    height: max-content;
    overflow: visible;
  }

  .testimonial-box hr {
    margin: 5px 0;
  }

  .minibox p, .testimonial-rating {
    font-size: 10px;
    line-height: 20px;
  }

  .minibox p {
    margin-top: 5px;
  }

  .minibox {
    min-height: max-content;
  }

  .mainbox {
    width: 275px;
  }

  .mainbox .testimonial-rating {
    font-size: 14px;
  }

  .rating {
    gap: 7px;
    align-self: start;
    margin-left: 30px;
  }

  .mainbox p, .rating, .rating .stars, .minibox .testimonial-name {
    font-size: 12px;
    line-height: 20px;
  }
  
  .testimonial-box {
    padding: 5px;
    height: max-content;
  }

  .mainbox .testimonial-name, .mainbox .testimonial-date {
    font-size: 14px;
  }

  .mainbox .bottom-arrow {
    width: 40px;
    height: 40px;
    left: 44%;
    bottom: -21px;
  }

  .mainboxwrapper .testimonial-avatar{
    bottom: -115px;
    left: 52%;
    width: 82px;
    height: 82px;
  }

  .homepage-campaign .homepage-header-button {
    right: 55px;
    top: 81px;
  }

  .rating .rating-score, .rating .stars, .rating .divider, .rating .review-count {
    margin-top: 17px;
  }

  .testimonial-footer {
    margin-bottom: 0;
  }
}
