.textarea-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.textarea-container textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 25px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 20px;
  resize: vertical;
}

.textarea-container .counter {
  position: absolute;
  bottom: 15px;
  left: 25px;
  font-size: 12px;
  color: #888;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .textarea-container textarea {
    font-size: 11px;
    padding: 5px 15px;
    color: #2D2D2D;
  }
}